<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="/images/weather.png">
  <title>About</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This web application was created by Michael Womack. It uses nodejs and express to build an http server with
      custom API endpoints. It alos uses 3rd party API data from <a href="https://darksky.net"
        target="_blank">darksky.net</a> and <a href="https://www.mapbox.com" target="_blank">mapbox.com</a> to retrieve
      and
      display the weather forecast.</p>
    <img class="portrait" src="/images/portfolio-pic.jpg" alt="profile pic" />
  </div>
  {{>footer}}
</body>

</html>